<script src="/js/handlebars.min.js"></script>
<div class="panel panel-default stacked">
    <div class="panel-heading">
        <ul class="nav nav-pills account-tab">
            <li class="active"><a href="/user/basicInfo">基本信息</a></li>
            <li><a href="/user/headPortrait">修改头像</a></li>
            <li><a href="/user/changePass">修改密码</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="message">
            {{#if msg}}
                <div class="alert alert-danger">{{msg}}</div>
            {{/if}}
        </div>
        <div class="tab-pane active" id="profile">
            <form action="/user/basicInfo/post" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-lg-3" for="nickname">昵称</label>
                    <div class="col-lg-4">
                        <input maxlength="18" class="form-control border" name="nickname"
                               value="{{user.nickname}}"
                               placeholder="昵称"
                               type="text" data-required="" data-conditional="nickname" data-description="nickname"
                               data-describedby="message">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="email">邮箱地址</label>
                    <div class="col-lg-4">
                        <span class="form-control">{{user.email}}</span>
                    </div>
                    <div class="col-lg-3" style="padding-top: 6px;">
                        {{#expression user.available '==' true}}
                            <span class="label label-success">已验证</span>
                        {{else}}
                            <span class="label label-warning">未验证</span>
                        {{/expression}}
                        <a href="/user/changeEmail">修改邮箱</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3" for="motto">座右铭</label>
                    <div class="col-lg-6">
                        <textarea name="motto" class="form-control" rows="3"
                                  maxlength="128" data-conditional="motto" data-description="motto"
                                  data-describedby="message" >{{user.motto}}</textarea>
                    </div>
                </div>
                <input type="hidden" value="{{user._id}}" name="_id">
                <div class="form-group">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div><!-- /form-actions -->
            </form>
        </div>
    </div><!-- /panel-content -->
</div><!-- /panel -->

{{#section 'jquery'}}
    <script type="text/javascript">
        $(function () {

            $('form').validate({
                onKeyup: true,
                onChange: true,
                eachValidField: function () {
                    $(this).closest('div').removeClass('has-error').addClass('has-success');
                },
                eachInvalidField: function () {
                    $(this).closest('div').removeClass('has-success').addClass('has-error');
                },
                conditional: {
                    nickname: function () {
                        return $(this).val().length > 3 && $(this).val().length < 18;
                    },
                    motto: function () {
                        return $(this).val().length > 0;
                    },
                },
                description: {
                    nickname: {
                        conditional: '<div class="alert alert-danger">昵称4-18位</div>'
                    },
                    motto: {
                        conditional: '<div class="alert alert-danger">座右铭不能为空</div>'
                    }
                }
            });


            var msgChecked = false;

            function clearMsg() {
                var msgDiv = $('#message');
                msgDiv.removeClass('has-error').addClass('has-success');
                msgDiv.html('');
                msgChecked = false;
            }

            function checkMsg() {
                var msgDiv = $('#message');
                if ((!msgChecked) && msgDiv.html() != "") {
                    setTimeout(clearMsg, 5000);
                    msgChecked = true;
                }
            }

            setInterval(checkMsg, 1000);
        });

    </script>
{{/section}}
